{% extends 'app/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}تمام محصولات{% endblock title %}

{% block main-content %}

<div class="titles container text-center pt-5">
    <h3>تمام محصولات</h3>
</div>

<section>
    <div class="container px-2 mt-5">
        <div class="row row-cols-sm-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for prod in products %}
                <div class="text-center mb-4">
                    <a href="{% url 'product-detail' prod.id %}" class="btn">
                        <div>
                            <img src="{{ prod.product_image.url }}" width="250px" height="170px"/>
                            <div class="fw-bold">{{ prod.title }}</div>
                            <div class="fw-bold table-danger">
                                {{ prod.discounted_price | intcomma }} تومان /
                                <small class="fw-light text-decoration-line-through">
                                    {{ prod.selling_price | intcomma }} تومان
                                </small>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>


{% endblock main-content %}