{% extends 'app/base.html' %}
{% load static %}

{% block title %}تغییر رمز عبور{% endblock title %}

{% block main-content %}
    <div class="container my-5">
        <div class="row">
            <h4>{{ request.user.username|capfirst }} خوش آمدید</h4>
            <div class="col-sm-2 border-start">
                <ul class="list-unstyled">
                    <li class="d-grid">
                        <p class="btn btn-primary">تغییر رمز عبور</p>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9 offset-sm-1 text-center">
                <h3>رمز عبور با موفقیت تغییر یافت.</h3>
                <!--
                <div>
                    <iframe src="#" width="200" height="200" frameBorder="0" class="giphy-embed" allowfullscreen></iframe>
                </div>
                -->
                <br><br><br><br><br><br><br><br><br><br>
            </div>
        </div>
    </div>
{% endblock main-content %}