{% extends 'app/base.html' %}
{% load static %}

{% block title %}بازیابی رمز عبور{% endblock title %}


{% block main-content %}
    <div class="container py-5">
        <div class="row my-3 flex-row-reverse">
            <div class="col-lg-6 col-md-6 col-xs-10 mx-auto">
                <h3 class="alert-heading">انجام شد.</h3>
                <p>یک لینک برای بازیابی رمز عبور به ایمیل شما فرستاده شد. لطفا ایمیل خود را چک کنید.</p>
            </div>
        </div>
    </div>


{% endblock main-content %}