{% extends 'app/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}صفحه محصول{% endblock title %}


{% block main-content %}
    <div class="container py-5">
        <div class="row flex justify-content-between">
            <div class="img2 col-lg-5">
                <img src="{{ product.product_image.url }}" class="image col-xs-6 col-sm-12 col-lg-12 mt-3 text-sm-center w-100 h-75" alt="">
            </div>
            <div class="productdetail col-lg-6">
                <h1 style="font-size: 35px;">{{ product.title }}</h1>
                <br>
                <h5 >{{ product.discounted_price | intcomma }} تومان /</h5>
                <small class="text-decoration-line-through text-muted fs-5"><del>{{ product.selling_price |intcomma }} تومان</del></small>
                <br><br>
                <h4>ویژه گی محصول</h4>
                <ul class="fs-5">
                    <li>{{ product.description }}</li>
                </ul>
            {% if user.is_authenticated %}
                <form action="/add-to-cart" class="d-inline">
                    <input type="hidden" name="prod_id" value="{{ product.id }}">
                    <button type="submit" class="btn btn-primary shadow px-5 py-2 ms-3">افزودن به سبد خرید</button>
                </form>
                <!--<a href="{% url 'showcart' %}" class="btn btn-warning shadow px-5 py-2 ms-3">خرید</a>-->

                {% if wishlist %}
                <a pid="{{ product.id }}" class="minus-wishlist btn btn-danger shadow px-3 py-2 ms-3"><i class="fa fa-heart fa-lg"></i></a>
                {% else %}
                <a pid="{{ product.id }}" class="plus-wishlist btn btn-success shadow px-3 py-2 ms-3"><i class="fa fa-heart fa-lg"></i></a>
                {% endif %}
            {% else %}
                <form action="/registration" class="d-inline">
                    <input type="hidden" name="prod_id" value="{{ product.id }}">
                    <button type="submit" class="btn btn-primary shadow px-5 py-2 ms-3">افزودن به سبد خرید</button>
                </form>
                <!--<a href="{% url 'showcart' %}" class="btn btn-warning shadow px-5 py-2 ms-3">خرید</a>-->

                {% if wishlist %}
                <a pid="{{ product.id }}" class="minus-wishlist btn btn-danger shadow px-3 py-2 ms-3"><i class="fa fa-heart fa-lg"></i></a>
                {% else %}
                <a pid="{{ product.id }}" class="plus-wishlist btn btn-success shadow px-3 py-2 ms-3"><i class="fa fa-heart fa-lg"></i></a>
                {% endif %}
            {% endif %}
            </div>
        </div>
    </div>


{% endblock main-content %}