{% extends 'app/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}لیست موارد دلخواه{% endblock title %}

{% block main-content %}
    <div class="container my-5">
        <h2 class="text-center pb-5">موارد دلخواه</h2>
        <div class="row">
            <div>
                <div class="row row-cols-sm-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for prod in product %}
                        <div class="col-sm-6 text-center mb-4 hover-shadow">
                            <a href="{% url 'product-detail' prod.product.id %}" class="btn">
                                <div class="card-image">
                                    <img src="{{ prod.product.product_image.url }}" width="250px" height="170px">
                                    <div class="fw-bold">{{ prod.product.title }}</div>
                                    <div class="fw-bold text-black">
                                        {{ prod.product.discounted_price | intcomma }} تومان
                                    <small class="fw-light text-decoration-line-through">{{ prod.product.selling_price | intcomma }} تومان</small>
                                    </div>
                                    <form action="/add-to-cart" class="d-inline">
                                        <input type="hidden" name="prod_id" value="{{ prod.product.id }}">
                                        <button type="submit" class="btn btn-primary shadow px-5 py-2">افزودن به سبد خرید</button>
                                    </form>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


{% endblock main-content %}