* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
  font-family:IRANSans;
  font-weight: normal;
  font-style: normal;
}
.font{
    font-family: font;
}
.img-responsive:hover{
    opacity: 0.5;

}

.hero{
    background: linear-gradient(rgba(240, 240, 240, 0.85), rgba(240, 240, 240, 0.85)), url("../images/banner/1.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
}

.carousel-item {
    position: relative;
}

.carousel-item a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    background: linear-gradient(rgba(255, 181, 36, 0.7), rgba(255, 181, 36, 0.7));
}
